.slider-container {
  position: relative;
}
.nextArrow {
  color: grey;
  margin-left: -114px;
  border: 1px solid lightgray;
  width: 60px;
  height: 60px;
  padding: 19px;
  opacity: 0;
  position: absolute;
  top: 50%;
}
.prevArrow {
  position: absolute;
  color: grey;
  border: 1px solid lightgray;
  width: 58px;
  height: 58px;
  margin-right: -144px;
  top: 50%;
  padding: 19px;
  opacity: 0;
}
.prevArrow:hover {
  color: white;
  background-color: #ff5a3c;
}
.nextArrow:hover {
  color: white;
  background-color: #ff5a3c;
}

.slider-container:hover .prevArrow {
  opacity: 1;
  transform: translateX(0); /* Slide into view */
  animation: swipeIn 0.5s ease-out forwards;
}
@keyframes swipeIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slider-container:hover .nextArrow {
  opacity: 1;
  transform: translateX(0); /* Slide into view */
  animation: swipeOut 0.5s ease-out forwards;
}

@keyframes swipeOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


/* Feature */
.featureLeft {
  color: grey;
  border: 1px solid lightgray;
  
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px;
  opacity: 0;
  position: absolute;
  top: 50%;
}
.featureRight {
  color: grey;
  border: 1px solid lightgray;
  margin-right: -45px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px;
  opacity: 0;
  position: absolute;
  top: 50%;
}

.featureLeft:hover {
  color: white;
  background-color: #ff5a3c;
}
.featureRight:hover {
  color: white;
  background-color: #ff5a3c;
}

.slider-container:hover .featureLeft {
    opacity: 1;
    transform: translateX(0); /* Slide into view */
    animation: swipeIn 0.5s ease-out forwards;
  }
  @keyframes swipeIn {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }
  
  .slider-container:hover .featureRight {
    opacity: 1;
    transform: translateX(0); /* Slide into view */
    animation: swipeOut 0.5s ease-out forwards;
  }
  
  @keyframes swipeOut {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }
  
  
